<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="assets/toolkit/styles/toolkit.css">
    <link rel="stylesheet" href="assets/toolkit/styles/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
    <script src="assets/toolkit/scripts/toolkit.js"></script>
</head>
<body>
    <div class="header">
        <h1>Metu Gym Portal - Admin</h1>
    </div>

    <div class="scrollHeader">
        <table class="Bar">
            <tr>
                <th>
                    <a href="/admin/dashboard" class="Item">
                        <h3><u>Dashboard</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/users" class="Item">
                        <h3><u>Users</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/courses" class="Item">
                        <h3><u>Courses</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/rooms" class="Item">
                        <h3><u>Rooms</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/schedules" class="Item">
                        <h3><u>Schedules</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/register" class="Item">
                        <h3><u>Register User</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/booking_admin" class="Item">
                        <h3><u>Book Session</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/add_instructor" class="Item">
                        <h3><u>Add Instructor</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/add_class" class="Item">
                        <h3><u>Add Class</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/remove_member" class="Item">
                        <h3><u>Remove Member</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/logout" class="Item">
                        <h3><u>Logout</u></h3>
                    </a>
                </th>
            </tr>
        </table>
    </div>

    <br><br><br>

    <div class="dashboard-content">
        <h2>Admin Overview</h2>
    </div>
</body>
</html>