<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="assets/toolkit/styles/toolkit.css">
    <link rel="stylesheet" href="assets/toolkit/styles/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>Metu Gym Portal</h1>
    </div>


    <div class="scrollHeader">
        <table class="Bar">
            <tr>
                <th>
                    <a href="/admin/dashboard" class="Item">
                        <h3><u>Dashboard</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/users" class="Item">
                        <h3><u>Users</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/courses" class="Item">
                        <h3><u>Courses</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/rooms" class="Item">
                        <h3><u>Rooms</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/admin/schedules" class="Item">
                        <h3><u>Schedules</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/register" class="Item">
                        <h3><u>Register User</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/booking_admin" class="Item">
                        <h3><u>Book Session</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/add_instructor" class="Item">
                        <h3><u>Add Instructor</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/add_class" class="Item">
                        <h3><u>Add Class</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/remove_member" class="Item">
                        <h3><u>Remove Member</u></h3>
                    </a>
                </th>
                <th>
                    <a href="/logout" class="Item">
                        <h3><u>Logout</u></h3>
                    </a>
                </th>
            </tr>
        </table>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div style="text-align: center; margin-top: 20px;">
                {% for category, message in messages %}
                    <span style="color: {% if category == 'danger' %}red{% else %}green{% endif %}; font-weight: bold; padding: 10px; border: 1px solid {% if category == 'danger' %}red{% else %}green{% endif %}; border-radius: 5px; background-color: #f9f9f9;">
                        {{ message }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <br><br><br>

    <div class="CenterArea">
        <form name="formRegistration" method="POST" action="/register">
            <label><b>SSN <span style="color: red;">*</span></b> <small>(11 digits)</small></label>
            <input id="ssn" type="text" name="ssn" required pattern="\d{11}" title="Must be exactly 11 digits" placeholder="12345678901" autocomplete="off">
            <br><br>

            <label><b>Password <span style="color: red;">*</span></b> <small>(Min. 6 chars)</small></label>
            <input id="password" type="password" name="password" required minlength="6" placeholder="******" autocomplete="new-password">
            <br><br>

            <label><b>First Name <span style="color: red;">*</span></b></label>
            <input id="first_name" type="text" name="first_name" required pattern="[A-Za-z]+" title="Letters only" placeholder="John" autocomplete="given-name">
            <br><br>

            <label><b>Last Name <span style="color: red;">*</span></b></label>
            <input id="last_name" type="text" name="last_name" required pattern="[A-Za-z]+" title="Letters only" placeholder="Doe" autocomplete="family-name">
            <br><br>

            <label><b>Membership type <span style="color: red;">*</span></b></label>
            <select name="membership_type" id="membership_type" required style="width: 150px; color: #cf0a2c; background-color: #fafafa; border-radius: 5px; outline: none; border: 1px solid #888;">
                <option value="" disabled selected>Select Membership</option>
                <option value="ad">Admin</option>
                <option value="em">Economy Monthly</option>
                <option value="ea">Economy Annual</option>
                <option value="rm">Regular Monthly</option>
                <option value="ra">Regular Annual</option>
                <option value="am">Advanced Monthly</option>
                <option value="aa">Advanced Annual</option>
            </select>
            <br><br>

            <input class="button-main" type="submit" value="Submit" id="log">
            <input class="button-main" type="reset" value="Reset" id="log2">
        </form>
    </div>

    <br><br><br><br><br><br>

    <script src="assets/toolkit/scripts/toolkit.js"></script>
</body>
</html>